* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Arvo", serif;
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 22px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


#contenedor {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.90);
    text-align: center;
}


header {
    width: 100%;
    color: #CCEFFF;
    padding: 20px;
}


h1 {
    color: black;
    font-size: 70px;
    margin-bottom: 10px;
}


h2 {
    color: #21B7FD;
}


h3 {
    color: darkorange;
    text-align: center;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    background-color: black;
    padding: 10px;
}


.menu li {
    margin: 0 15px;
}


.menu a {
    text-decoration: none;
    color: beige;
    font-size: 24px;
    padding: 10px;
}


.menu a:hover {
    color: #21B7FD;
}


section {
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
}

/*datos curiosos al azar*/
#seccion-curiosidades {
    margin: 40px auto;
    padding: 20px;
    background-color: darkorange;
    border: 2px black;
    text-align: center;
}

#caja-dato {
    display: flex;       
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*a chequear*/
aside {
    margin: 50px auto;
    text-align: left;
}


p {
    text-align: center;
    line-height: 2;
    font-family: Arial;
    color: black;
}


.galeria-fotos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}


.galeria-fotos img {
    width: 50%;
    height: auto;
    margin: 0;
}


blockquote {
    background-color: black;
    border-left: 20px solid #0d4f8b;
    border-right: 20px solid #0d4f8b;
    padding: 30px;
    margin: 10px auto;
}


img, iframe {
    max-width: 100%;
    display: block;
    margin: 30px auto;
    border: none;
}


hr {
    margin: 25px auto;
    width: 100%;
}


footer {
    background-color: black;
    width: 100%;
    color: white;
    padding: 30px;
    margin-top: auto;
    font-family: Arial;
}


footer a {
    background-color: black;
    color: deepskyblue;
    text-decoration: none;
    font-family: Arial;
}


address {
    background-color: black;
    margin-top: 10px;
    color: darkgreen;
    font-style: normal;
    font-family: Arial;
}




/*GALERIA DE OBRAS CON SU DISEÑO INTERACTIVO*/

/* display: flex y flex-wrap: wrap para que las imágenes se ordenen solas en cuadrícula*/
#contenedor-obras {
    display: flex;          
    flex-wrap: wrap;        
    justify-content: center;
    gap: 20px;            
    padding: 20px;
}

/* Estilo de cada obra-Modo CuadrículA */
.obra {
    width: 280px;           /* Ancho inicial para que entren varias por fila */
    background-color: white;
    padding: 10px;
}

.obra img {
    width: 100%;
    height: auto;
}

/* MODO TAMAÑO REAL (Se activa con el botón vía JavaScript) */
/* Cuando el contenedor tiene esta clase, las obras crecen */
.galeria-real .obra {
    width: 100%;  
    max-width: 800px;  
}


/*gestion de produccion*/


#contenedor-gestion{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 20px;
}


form {
    display: flex; /* Clase 10 */
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 8px;
    font-size: 1rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}