* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Arvo", serif;
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 22px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


#contenedor {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.90);
    text-align: center;
}


header {
    width: 100%;
    color: #CCEFFF;
    padding: 20px;
}


h1 {
    color: black;
    font-size: 70px;
    margin-bottom: 10px;
}


h2 {
    color: #21B7FD;
}


h3 {
    color: darkorange;
    text-align: center;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    background-color: black;
    padding: 10px;
}


.menu li {
    margin: 0 15px;
}


.menu a {
    text-decoration: none;
    color: beige;
    font-size: 24px;
    padding: 10px;
}


.menu a:hover {
    color: #21B7FD;
}


section {
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
}


.dato-curioso {
    background-color: black;
    padding: 20px;
    margin: 30px;
    width: 95%;
}


.dato-curioso h2 {
    font-size: 35px;
    line-height: 1.5;
}


.dato-curioso p {
    color: white;
}


aside {
    margin: 50px auto;
}


p {
    text-align: center;
    line-height: 2;
    font-family: Arial;
    color: black;
}


.galeria-fotos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}


.galeria-fotos img {
    width: 50%;
    height: auto;
    margin: 0;
}


blockquote {
    background-color: black;
    border-left: 20px solid #0d4f8b;
    border-right: 20px solid #0d4f8b;
    padding: 30px;
    margin: 10px auto;
}


img, iframe {
    max-width: 100%;
    display: block;
    margin: 30px auto;
    border: none;
}


hr {
    margin: 25px auto;
    width: 100%;
}


footer {
    background-color: black;
    width: 100%;
    color: white;
    padding: 30px;
    margin-top: auto;
    font-family: Arial;
}


footer a {
    background-color: black;
    color: deepskyblue;
    text-decoration: none;
    font-family: Arial;
}


address {
    background-color: black;
    margin-top: 10px;
    color: darkgreen;
    font-style: normal;
    font-family: Arial;
}
